<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>items</key>
	<array>
		<dict>
			<key>assets</key>
			<array>
				<dict>
					<key>kind</key>
					<string>software-package</string>
					<key>url</key>
					<string>https://raw.githubusercontent.com/chysx/ios_distribution/master/Runner.ipa</string>
				</dict>
				<dict>
					<key>kind</key>
					<string>display-image</string>
					<key>url</key>
					<string>https://raw.githubusercontent.com/chysx/ios_distribution/master/image57x57.png</string>
				</dict>
				<dict>
					<key>kind</key>
					<string>full-size-image</string>
					<key>url</key>
					<string>https://raw.githubusercontent.com/chysx/ios_distribution/master/image512x512.png</string>
				</dict>
			</array>
			<key>metadata</key>
			<dict>
				<key>bundle-identifier</key>
				<string>com.ebest.dsd</string>
				<key>bundle-version</key>
				<string>0.1.71</string>
				<key>kind</key>
				<string>software</string>
				<key>platform-identifier</key>
				<string>com.apple.platform.iphoneos</string>
				<key>title</key>
				<string>cch</string>
			</dict>
			<key>thinned-assets</key>
			<array>
				<dict>
					<key>bundle-identifier</key>
					<string>com.ebest.dsd</string>
					<key>kind</key>
					<string>software-package</string>
					<key>url</key>
					<string>https://www.baidu.com../-496F2326-7602-44EB-A7DC-E1092BAEBDEB</string>
					<key>variantDescriptors</key>
					<array>
						<dict>
							<key>device</key>
							<string>iPhone11,4</string>
							<key>os-version</key>
							<string>13.0</string>
						</dict>
						<dict>
							<key>device</key>
							<string>iPhone12,3</string>
							<key>os-version</key>
							<string>13.0</string>
						</dict>
						<dict>
							<key>device</key>
							<string>iPhone11,6</string>
							<key>os-version</key>
							<string>13.0</string>
						</dict>
						<dict>
							<key>device</key>
							<string>iPhone12,5</string>
							<key>os-version</key>
							<string>13.0</string>
						</dict>
						<dict>
							<key>device</key>
							<string>iPhone8,2</string>
							<key>os-version</key>
							<string>13.0</string>
						</dict>
						<dict>
							<key>device</key>
							<string>iPhone9,2</string>
							<key>os-version</key>
							<string>13.0</string>
						</dict>
						<dict>
							<key>device</key>
							<string>iPhone10,2</string>
							<key>os-version</key>
							<string>13.0</string>
						</dict>
						<dict>
							<key>device</key>
							<string>iPhone10,5</string>
							<key>os-version</key>
							<string>13.0</string>
						</dict>
						<dict>
							<key>device</key>
							<string>iPhone10,3</string>
							<key>os-version</key>
							<string>13.0</string>
						</dict>
						<dict>
							<key>device</key>
							<string>iPhone10,6</string>
							<key>os-version</key>
							<string>13.0</string>
						</dict>
						<dict>
							<key>device</key>
							<string>iPhone11,2</string>
							<key>os-version</key>
							<string>13.0</string>
						</dict>
						<dict>
							<key>device</key>
							<string>iPhone9,4</string>
							<key>os-version</key>
							<string>13.0</string>
						</dict>
					</array>
					<key>variantIds</key>
					<array>
						<string>iPhone12,5</string>
						<string>iPhone12,3</string>
					</array>
				</dict>
				<dict>
					<key>bundle-identifier</key>
					<string>com.ebest.dsd</string>
					<key>kind</key>
					<string>software-package</string>
					<key>url</key>
					<string>https://www.baidu.com../-8AABF3B6-C83E-4236-B6BB-BF974C8BC6A0</string>
					<key>variantDescriptors</key>
					<array/>
					<key>variantIds</key>
					<array>
						<string>iPad2,3</string>
						<string>iPad2,2</string>
						<string>iPad2,1</string>
						<string>iPad2,7</string>
						<string>iPad2,6</string>
						<string>iPad2,5</string>
						<string>iPad2,4</string>
					</array>
				</dict>
				<dict>
					<key>bundle-identifier</key>
					<string>com.ebest.dsd</string>
					<key>kind</key>
					<string>software-package</string>
					<key>url</key>
					<string>https://www.baidu.com../-1DFCDDE8-D1A0-4B14-8D05-30BAF948BF31</string>
					<key>variantDescriptors</key>
					<array>
						<dict>
							<key>device</key>
							<string>iPad6,12</string>
							<key>os-version</key>
							<string>12.0</string>
						</dict>
						<dict>
							<key>device</key>
							<string>iPad8,4</string>
							<key>os-version</key>
							<string>12.2</string>
						</dict>
						<dict>
							<key>device</key>
							<string>iPad6,3</string>
							<key>os-version</key>
							<string>12.2</string>
						</dict>
						<dict>
							<key>device</key>
							<string>iPad8,7</string>
							<key>os-version</key>
							<string>12.0</string>
						</dict>
						<dict>
							<key>device</key>
							<string>iPad8,5</string>
							<key>os-version</key>
							<string>12.0</string>
						</dict>
						<dict>
							<key>device</key>
							<string>iPad7,2</string>
							<key>os-version</key>
							<string>12.0</string>
						</dict>
						<dict>
							<key>device</key>
							<string>iPad8,5</string>
							<key>os-version</key>
							<string>12.2</string>
						</dict>
						<dict>
							<key>device</key>
							<string>iPad11,2</string>
							<key>os-version</key>
							<string>12.2</string>
						</dict>
						<dict>
							<key>device</key>
							<string>iPad5,1</string>
							<key>os-version</key>
							<string>12.2</string>
						</dict>
						<dict>
							<key>device</key>
							<string>iPad7,6</string>
							<key>os-version</key>
							<string>12.0</string>
						</dict>
						<dict>
							<key>device</key>
							<string>iPad6,8</string>
							<key>os-version</key>
							<string>12.2</string>
						</dict>
						<dict>
							<key>device</key>
							<string>iPad5,3</string>
							<key>os-version</key>
							<string>12.0</string>
						</dict>
						<dict>
							<key>device</key>
							<string>iPad6,4</string>
							<key>os-version</key>
							<string>12.2</string>
						</dict>
						<dict>
							<key>device</key>
							<string>iPad5,2</string>
							<key>os-version</key>
							<string>12.2</string>
						</dict>
						<dict>
							<key>device</key>
							<string>iPad6,8</string>
							<key>os-version</key>
							<string>12.0</string>
						</dict>
						<dict>
							<key>device</key>
							<string>iPad4,2</string>
							<key>os-version</key>
							<string>12.0</string>
						</dict>
						<dict>
							<key>device</key>
							<string>iPad7,5</string>
							<key>os-version</key>
							<string>12.2</string>
						</dict>
						<dict>
							<key>device</key>
							<string>iPad7,4</string>
							<key>os-version</key>
							<string>12.0</string>
						</dict>
						<dict>
							<key>device</key>
							<string>iPad4,9</string>
							<key>os-version</key>
							<string>12.0</string>
						</dict>
						<dict>
							<key>device</key>
							<string>iPad8,1</string>
							<key>os-version</key>
							<string>12.2</string>
						</dict>
						<dict>
							<key>device</key>
							<string>iPad11,4</string>
							<key>os-version</key>
							<string>12.2</string>
						</dict>
						<dict>
							<key>device</key>
							<string>iPad8,3</string>
							<key>os-version</key>
							<string>12.2</string>
						</dict>
						<dict>
							<key>device</key>
							<string>iPad4,3</string>
							<key>os-version</key>
							<string>12.2</string>
						</dict>
						<dict>
							<key>device</key>
							<string>iPad4,1</string>
							<key>os-version</key>
							<string>12.2</string>
						</dict>
						<dict>
							<key>device</key>
							<string>iPad6,12</string>
							<key>os-version</key>
							<string>12.2</string>
						</dict>
						<dict>
							<key>device</key>
							<string>iPad4,6</string>
							<key>os-version</key>
							<string>12.0</string>
						</dict>
						<dict>
							<key>device</key>
							<string>iPad4,5</string>
							<key>os-version</key>
							<string>12.0</string>
						</dict>
						<dict>
							<key>device</key>
							<string>iPad4,5</string>
							<key>os-version</key>
							<string>12.2</string>
						</dict>
						<dict>
							<key>device</key>
							<string>iPad6,4</string>
							<key>os-version</key>
							<string>12.0</string>
						</dict>
						<dict>
							<key>device</key>
							<string>iPad6,7</string>
							<key>os-version</key>
							<string>12.2</string>
						</dict>
						<dict>
							<key>device</key>
							<string>iPad4,2</string>
							<key>os-version</key>
							<string>12.2</string>
						</dict>
						<dict>
							<key>device</key>
							<string>iPad4,4</string>
							<key>os-version</key>
							<string>12.0</string>
						</dict>
						<dict>
							<key>device</key>
							<string>iPad11,3</string>
							<key>os-version</key>
							<string>12.2</string>
						</dict>
						<dict>
							<key>device</key>
							<string>iPad5,4</string>
							<key>os-version</key>
							<string>12.0</string>
						</dict>
						<dict>
							<key>device</key>
							<string>iPad5,2</string>
							<key>os-version</key>
							<string>12.0</string>
						</dict>
						<dict>
							<key>device</key>
							<string>iPad4,7</string>
							<key>os-version</key>
							<string>12.0</string>
						</dict>
						<dict>
							<key>device</key>
							<string>iPad4,1</string>
							<key>os-version</key>
							<string>12.0</string>
						</dict>
						<dict>
							<key>device</key>
							<string>iPad8,2</string>
							<key>os-version</key>
							<string>12.2</string>
						</dict>
						<dict>
							<key>device</key>
							<string>iPad4,6</string>
							<key>os-version</key>
							<string>12.2</string>
						</dict>
						<dict>
							<key>device</key>
							<string>iPad5,3</string>
							<key>os-version</key>
							<string>12.2</string>
						</dict>
						<dict>
							<key>device</key>
							<string>iPad8,8</string>
							<key>os-version</key>
							<string>12.2</string>
						</dict>
						<dict>
							<key>device</key>
							<string>iPad4,7</string>
							<key>os-version</key>
							<string>12.2</string>
						</dict>
						<dict>
							<key>device</key>
							<string>iPad8,3</string>
							<key>os-version</key>
							<string>12.0</string>
						</dict>
						<dict>
							<key>device</key>
							<string>iPad8,6</string>
							<key>os-version</key>
							<string>12.2</string>
						</dict>
						<dict>
							<key>device</key>
							<string>iPad8,1</string>
							<key>os-version</key>
							<string>12.0</string>
						</dict>
						<dict>
							<key>device</key>
							<string>iPad4,3</string>
							<key>os-version</key>
							<string>12.0</string>
						</dict>
						<dict>
							<key>device</key>
							<string>iPad4,4</string>
							<key>os-version</key>
							<string>12.2</string>
						</dict>
						<dict>
							<key>device</key>
							<string>iPad8,8</string>
							<key>os-version</key>
							<string>12.0</string>
						</dict>
						<dict>
							<key>device</key>
							<string>iPad11,1</string>
							<key>os-version</key>
							<string>12.2</string>
						</dict>
						<dict>
							<key>device</key>
							<string>iPad4,8</string>
							<key>os-version</key>
							<string>12.2</string>
						</dict>
						<dict>
							<key>device</key>
							<string>iPad6,11</string>
							<key>os-version</key>
							<string>12.2</string>
						</dict>
						<dict>
							<key>device</key>
							<string>iPad7,1</string>
							<key>os-version</key>
							<string>12.2</string>
						</dict>
						<dict>
							<key>device</key>
							<string>iPad6,7</string>
							<key>os-version</key>
							<string>12.0</string>
						</dict>
						<dict>
							<key>device</key>
							<string>iPad8,4</string>
							<key>os-version</key>
							<string>12.0</string>
						</dict>
						<dict>
							<key>device</key>
							<string>iPad7,2</string>
							<key>os-version</key>
							<string>12.2</string>
						</dict>
						<dict>
							<key>device</key>
							<string>iPad5,1</string>
							<key>os-version</key>
							<string>12.0</string>
						</dict>
						<dict>
							<key>device</key>
							<string>iPad5,4</string>
							<key>os-version</key>
							<string>12.2</string>
						</dict>
						<dict>
							<key>device</key>
							<string>iPad6,11</string>
							<key>os-version</key>
							<string>12.0</string>
						</dict>
						<dict>
							<key>device</key>
							<string>iPad7,6</string>
							<key>os-version</key>
							<string>12.2</string>
						</dict>
						<dict>
							<key>device</key>
							<string>iPad8,7</string>
							<key>os-version</key>
							<string>12.2</string>
						</dict>
						<dict>
							<key>device</key>
							<string>iPad8,6</string>
							<key>os-version</key>
							<string>12.0</string>
						</dict>
						<dict>
							<key>device</key>
							<string>iPad7,3</string>
							<key>os-version</key>
							<string>12.2</string>
						</dict>
						<dict>
							<key>device</key>
							<string>iPad7,4</string>
							<key>os-version</key>
							<string>12.2</string>
						</dict>
						<dict>
							<key>device</key>
							<string>iPad4,9</string>
							<key>os-version</key>
							<string>12.2</string>
						</dict>
						<dict>
							<key>device</key>
							<string>iPad4,8</string>
							<key>os-version</key>
							<string>12.0</string>
						</dict>
						<dict>
							<key>device</key>
							<string>iPad7,5</string>
							<key>os-version</key>
							<string>12.0</string>
						</dict>
						<dict>
							<key>device</key>
							<string>iPad7,3</string>
							<key>os-version</key>
							<string>12.0</string>
						</dict>
						<dict>
							<key>device</key>
							<string>iPad7,1</string>
							<key>os-version</key>
							<string>12.0</string>
						</dict>
						<dict>
							<key>device</key>
							<string>iPad6,3</string>
							<key>os-version</key>
							<string>12.0</string>
						</dict>
						<dict>
							<key>device</key>
							<string>iPad8,2</string>
							<key>os-version</key>
							<string>12.0</string>
						</dict>
					</array>
					<key>variantIds</key>
					<array>
						<string>iPad11,4</string>
						<string>iPad8,1</string>
						<string>iPad8,6</string>
						<string>iPad8,3</string>
						<string>iPad8,8</string>
						<string>iPad8,5</string>
						<string>iPad11,1</string>
						<string>iPad8,2</string>
						<string>iPad8,7</string>
						<string>iPad11,2</string>
						<string>iPad11,3</string>
						<string>iPad8,4</string>
					</array>
				</dict>
				<dict>
					<key>bundle-identifier</key>
					<string>com.ebest.dsd</string>
					<key>kind</key>
					<string>software-package</string>
					<key>url</key>
					<string>https://www.baidu.com../-34ECE672-0983-4D49-B934-7B197BDE5552</string>
					<key>variantDescriptors</key>
					<array/>
					<key>variantIds</key>
					<array>
						<string>iPad3,6</string>
						<string>iPad3,4</string>
						<string>iPad3,2</string>
						<string>iPad3,5</string>
						<string>iPad3,3</string>
						<string>iPad3,1</string>
					</array>
				</dict>
				<dict>
					<key>bundle-identifier</key>
					<string>com.ebest.dsd</string>
					<key>kind</key>
					<string>software-package</string>
					<key>url</key>
					<string>https://www.baidu.com../-AEFFA7BE-F8C2-4B4B-952D-76CB5D26C7C3</string>
					<key>variantDescriptors</key>
					<array>
						<dict>
							<key>device</key>
							<string>iPhone9,3</string>
							<key>os-version</key>
							<string>13.0</string>
						</dict>
						<dict>
							<key>device</key>
							<string>iPhone10,4</string>
							<key>os-version</key>
							<string>13.0</string>
						</dict>
						<dict>
							<key>device</key>
							<string>iPhone8,1</string>
							<key>os-version</key>
							<string>13.0</string>
						</dict>
						<dict>
							<key>device</key>
							<string>iPhone8,4</string>
							<key>os-version</key>
							<string>13.0</string>
						</dict>
						<dict>
							<key>device</key>
							<string>iPhone10,1</string>
							<key>os-version</key>
							<string>13.0</string>
						</dict>
						<dict>
							<key>device</key>
							<string>iPod9,1</string>
							<key>os-version</key>
							<string>13.0</string>
						</dict>
						<dict>
							<key>device</key>
							<string>iPhone9,1</string>
							<key>os-version</key>
							<string>13.0</string>
						</dict>
					</array>
					<key>variantIds</key>
					<array/>
				</dict>
				<dict>
					<key>bundle-identifier</key>
					<string>com.ebest.dsd</string>
					<key>kind</key>
					<string>software-package</string>
					<key>url</key>
					<string>https://www.baidu.com../-A9C79E69-61EF-4893-8EC2-1311737B8555</string>
					<key>variantDescriptors</key>
					<array>
						<dict>
							<key>device</key>
							<string>iPhone11,8</string>
							<key>os-version</key>
							<string>12.0</string>
						</dict>
						<dict>
							<key>device</key>
							<string>iPhone11,8</string>
							<key>os-version</key>
							<string>12.2</string>
						</dict>
					</array>
					<key>variantIds</key>
					<array>
						<string>iPhone11,8</string>
					</array>
				</dict>
				<dict>
					<key>bundle-identifier</key>
					<string>com.ebest.dsd</string>
					<key>kind</key>
					<string>software-package</string>
					<key>url</key>
					<string>https://www.baidu.com../-6D125AD7-3DD3-4ECB-8D63-812AD2D5BB9A</string>
					<key>variantDescriptors</key>
					<array/>
					<key>variantIds</key>
					<array>
						<string>iPhone10,1</string>
						<string>iPhone8,1</string>
						<string>iPhone9,3</string>
						<string>iPhone6,2</string>
						<string>iPhone9,1</string>
						<string>iPhone7,2</string>
						<string>iPod7,1</string>
						<string>iPhone10,4</string>
						<string>iPhone8,4</string>
						<string>iPhone6,1</string>
					</array>
				</dict>
				<dict>
					<key>bundle-identifier</key>
					<string>com.ebest.dsd</string>
					<key>kind</key>
					<string>software-package</string>
					<key>url</key>
					<string>https://www.baidu.com../-4D11BD7A-2B6F-44B3-9F43-9CF2D44E5D0B</string>
					<key>variantDescriptors</key>
					<array/>
					<key>variantIds</key>
					<array>
						<string>iPhone10,2</string>
						<string>iPhone7,1</string>
						<string>iPhone10,6</string>
						<string>iPhone10,5</string>
						<string>iPhone8,2</string>
						<string>iPhone9,4</string>
						<string>iPhone10,3</string>
						<string>iPhone9,2</string>
					</array>
				</dict>
				<dict>
					<key>bundle-identifier</key>
					<string>com.ebest.dsd</string>
					<key>kind</key>
					<string>software-package</string>
					<key>url</key>
					<string>https://www.baidu.com../-81F68CC4-9423-4C81-82A8-F225286F9634</string>
					<key>variantDescriptors</key>
					<array>
						<dict>
							<key>device</key>
							<string>iPhone10,3</string>
							<key>os-version</key>
							<string>12.0</string>
						</dict>
						<dict>
							<key>device</key>
							<string>iPhone9,2</string>
							<key>os-version</key>
							<string>12.0</string>
						</dict>
						<dict>
							<key>device</key>
							<string>iPhone10,5</string>
							<key>os-version</key>
							<string>12.2</string>
						</dict>
						<dict>
							<key>device</key>
							<string>iPhone10,6</string>
							<key>os-version</key>
							<string>12.0</string>
						</dict>
						<dict>
							<key>device</key>
							<string>iPhone11,2</string>
							<key>os-version</key>
							<string>12.2</string>
						</dict>
						<dict>
							<key>device</key>
							<string>iPhone7,1</string>
							<key>os-version</key>
							<string>12.2</string>
						</dict>
						<dict>
							<key>device</key>
							<string>iPhone11,6</string>
							<key>os-version</key>
							<string>12.0</string>
						</dict>
						<dict>
							<key>device</key>
							<string>iPhone7,1</string>
							<key>os-version</key>
							<string>12.0</string>
						</dict>
						<dict>
							<key>device</key>
							<string>iPhone9,4</string>
							<key>os-version</key>
							<string>12.2</string>
						</dict>
						<dict>
							<key>device</key>
							<string>iPhone8,2</string>
							<key>os-version</key>
							<string>12.2</string>
						</dict>
						<dict>
							<key>device</key>
							<string>iPhone11,4</string>
							<key>os-version</key>
							<string>12.0</string>
						</dict>
						<dict>
							<key>device</key>
							<string>iPhone8,2</string>
							<key>os-version</key>
							<string>12.0</string>
						</dict>
						<dict>
							<key>device</key>
							<string>iPhone11,6</string>
							<key>os-version</key>
							<string>12.2</string>
						</dict>
						<dict>
							<key>device</key>
							<string>iPhone10,2</string>
							<key>os-version</key>
							<string>12.0</string>
						</dict>
						<dict>
							<key>device</key>
							<string>iPhone10,6</string>
							<key>os-version</key>
							<string>12.2</string>
						</dict>
						<dict>
							<key>device</key>
							<string>iPhone9,2</string>
							<key>os-version</key>
							<string>12.2</string>
						</dict>
						<dict>
							<key>device</key>
							<string>iPhone10,5</string>
							<key>os-version</key>
							<string>12.0</string>
						</dict>
						<dict>
							<key>device</key>
							<string>iPhone10,3</string>
							<key>os-version</key>
							<string>12.2</string>
						</dict>
						<dict>
							<key>device</key>
							<string>iPhone10,2</string>
							<key>os-version</key>
							<string>12.2</string>
						</dict>
						<dict>
							<key>device</key>
							<string>iPhone9,4</string>
							<key>os-version</key>
							<string>12.0</string>
						</dict>
						<dict>
							<key>device</key>
							<string>iPhone11,2</string>
							<key>os-version</key>
							<string>12.0</string>
						</dict>
						<dict>
							<key>device</key>
							<string>iPhone11,4</string>
							<key>os-version</key>
							<string>12.2</string>
						</dict>
					</array>
					<key>variantIds</key>
					<array>
						<string>iPhone11,6</string>
						<string>iPhone11,2</string>
						<string>iPhone11,4</string>
					</array>
				</dict>
				<dict>
					<key>bundle-identifier</key>
					<string>com.ebest.dsd</string>
					<key>kind</key>
					<string>software-package</string>
					<key>url</key>
					<string>https://www.baidu.com../-452629F4-5C8B-4B09-A312-31F6544D0506</string>
					<key>variantDescriptors</key>
					<array/>
					<key>variantIds</key>
					<array>
						<string>iPhone5,2</string>
						<string>iPod5,1</string>
						<string>iPhone5,3</string>
						<string>iPhone4,1</string>
						<string>iPhone5,1</string>
						<string>iPhone5,4</string>
					</array>
				</dict>
				<dict>
					<key>bundle-identifier</key>
					<string>com.ebest.dsd</string>
					<key>kind</key>
					<string>software-package</string>
					<key>url</key>
					<string>https://www.baidu.com../-C644F5E7-C79C-422B-8798-897D258F1B36</string>
					<key>variantDescriptors</key>
					<array>
						<dict>
							<key>device</key>
							<string>iPhone8,1</string>
							<key>os-version</key>
							<string>12.0</string>
						</dict>
						<dict>
							<key>device</key>
							<string>iPhone6,2</string>
							<key>os-version</key>
							<string>12.2</string>
						</dict>
						<dict>
							<key>device</key>
							<string>iPhone9,1</string>
							<key>os-version</key>
							<string>12.2</string>
						</dict>
						<dict>
							<key>device</key>
							<string>iPod7,1</string>
							<key>os-version</key>
							<string>12.0</string>
						</dict>
						<dict>
							<key>device</key>
							<string>iPhone9,3</string>
							<key>os-version</key>
							<string>12.2</string>
						</dict>
						<dict>
							<key>device</key>
							<string>iPhone6,1</string>
							<key>os-version</key>
							<string>12.2</string>
						</dict>
						<dict>
							<key>device</key>
							<string>iPhone8,4</string>
							<key>os-version</key>
							<string>12.2</string>
						</dict>
						<dict>
							<key>device</key>
							<string>iPhone6,2</string>
							<key>os-version</key>
							<string>12.0</string>
						</dict>
						<dict>
							<key>device</key>
							<string>iPhone10,1</string>
							<key>os-version</key>
							<string>12.0</string>
						</dict>
						<dict>
							<key>device</key>
							<string>iPhone10,4</string>
							<key>os-version</key>
							<string>12.0</string>
						</dict>
						<dict>
							<key>device</key>
							<string>iPhone6,1</string>
							<key>os-version</key>
							<string>12.0</string>
						</dict>
						<dict>
							<key>device</key>
							<string>iPod7,1</string>
							<key>os-version</key>
							<string>12.2</string>
						</dict>
						<dict>
							<key>device</key>
							<string>iPhone10,4</string>
							<key>os-version</key>
							<string>12.2</string>
						</dict>
						<dict>
							<key>device</key>
							<string>iPod9,1</string>
							<key>os-version</key>
							<string>12.2</string>
						</dict>
						<dict>
							<key>device</key>
							<string>iPhone7,2</string>
							<key>os-version</key>
							<string>12.2</string>
						</dict>
						<dict>
							<key>device</key>
							<string>iPhone8,4</string>
							<key>os-version</key>
							<string>12.0</string>
						</dict>
						<dict>
							<key>device</key>
							<string>iPhone10,1</string>
							<key>os-version</key>
							<string>12.2</string>
						</dict>
						<dict>
							<key>device</key>
							<string>iPhone8,1</string>
							<key>os-version</key>
							<string>12.2</string>
						</dict>
						<dict>
							<key>device</key>
							<string>iPhone9,1</string>
							<key>os-version</key>
							<string>12.0</string>
						</dict>
						<dict>
							<key>device</key>
							<string>iPhone9,3</string>
							<key>os-version</key>
							<string>12.0</string>
						</dict>
						<dict>
							<key>device</key>
							<string>iPhone7,2</string>
							<key>os-version</key>
							<string>12.0</string>
						</dict>
					</array>
					<key>variantIds</key>
					<array>
						<string>iPod9,1</string>
					</array>
				</dict>
				<dict>
					<key>bundle-identifier</key>
					<string>com.ebest.dsd</string>
					<key>kind</key>
					<string>software-package</string>
					<key>url</key>
					<string>https://www.baidu.com../-82AB33E1-96E3-448C-8FDE-6CC6D1C1F45C</string>
					<key>variantDescriptors</key>
					<array>
						<dict>
							<key>device</key>
							<string>iPad8,1</string>
							<key>os-version</key>
							<string>13.0</string>
						</dict>
						<dict>
							<key>device</key>
							<string>iPad8,2</string>
							<key>os-version</key>
							<string>13.0</string>
						</dict>
						<dict>
							<key>device</key>
							<string>iPad7,5</string>
							<key>os-version</key>
							<string>13.0</string>
						</dict>
						<dict>
							<key>device</key>
							<string>iPad11,3</string>
							<key>os-version</key>
							<string>13.0</string>
						</dict>
						<dict>
							<key>device</key>
							<string>iPad7,6</string>
							<key>os-version</key>
							<string>13.0</string>
						</dict>
						<dict>
							<key>device</key>
							<string>iPad7,11</string>
							<key>os-version</key>
							<string>13.0</string>
						</dict>
						<dict>
							<key>device</key>
							<string>iPad8,8</string>
							<key>os-version</key>
							<string>13.0</string>
						</dict>
						<dict>
							<key>device</key>
							<string>iPad8,3</string>
							<key>os-version</key>
							<string>13.0</string>
						</dict>
						<dict>
							<key>device</key>
							<string>iPad5,1</string>
							<key>os-version</key>
							<string>13.0</string>
						</dict>
						<dict>
							<key>device</key>
							<string>iPad8,5</string>
							<key>os-version</key>
							<string>13.0</string>
						</dict>
						<dict>
							<key>device</key>
							<string>iPad11,1</string>
							<key>os-version</key>
							<string>13.0</string>
						</dict>
						<dict>
							<key>device</key>
							<string>iPad7,4</string>
							<key>os-version</key>
							<string>13.0</string>
						</dict>
						<dict>
							<key>device</key>
							<string>iPad6,3</string>
							<key>os-version</key>
							<string>13.0</string>
						</dict>
						<dict>
							<key>device</key>
							<string>iPad5,4</string>
							<key>os-version</key>
							<string>13.0</string>
						</dict>
						<dict>
							<key>device</key>
							<string>iPad8,4</string>
							<key>os-version</key>
							<string>13.0</string>
						</dict>
						<dict>
							<key>device</key>
							<string>iPad7,2</string>
							<key>os-version</key>
							<string>13.0</string>
						</dict>
						<dict>
							<key>device</key>
							<string>iPad8,7</string>
							<key>os-version</key>
							<string>13.0</string>
						</dict>
						<dict>
							<key>device</key>
							<string>iPad11,2</string>
							<key>os-version</key>
							<string>13.0</string>
						</dict>
						<dict>
							<key>device</key>
							<string>iPad6,12</string>
							<key>os-version</key>
							<string>13.0</string>
						</dict>
						<dict>
							<key>device</key>
							<string>iPad11,4</string>
							<key>os-version</key>
							<string>13.0</string>
						</dict>
						<dict>
							<key>device</key>
							<string>iPad6,4</string>
							<key>os-version</key>
							<string>13.0</string>
						</dict>
						<dict>
							<key>device</key>
							<string>iPad6,11</string>
							<key>os-version</key>
							<string>13.0</string>
						</dict>
						<dict>
							<key>device</key>
							<string>iPad7,12</string>
							<key>os-version</key>
							<string>13.0</string>
						</dict>
						<dict>
							<key>device</key>
							<string>iPad6,7</string>
							<key>os-version</key>
							<string>13.0</string>
						</dict>
						<dict>
							<key>device</key>
							<string>iPad8,6</string>
							<key>os-version</key>
							<string>13.0</string>
						</dict>
						<dict>
							<key>device</key>
							<string>iPad5,2</string>
							<key>os-version</key>
							<string>13.0</string>
						</dict>
						<dict>
							<key>device</key>
							<string>iPad6,8</string>
							<key>os-version</key>
							<string>13.0</string>
						</dict>
						<dict>
							<key>device</key>
							<string>iPad7,3</string>
							<key>os-version</key>
							<string>13.0</string>
						</dict>
						<dict>
							<key>device</key>
							<string>iPad7,1</string>
							<key>os-version</key>
							<string>13.0</string>
						</dict>
						<dict>
							<key>device</key>
							<string>iPad5,3</string>
							<key>os-version</key>
							<string>13.0</string>
						</dict>
					</array>
					<key>variantIds</key>
					<array>
						<string>iPad7,11</string>
						<string>iPad7,12</string>
					</array>
				</dict>
				<dict>
					<key>bundle-identifier</key>
					<string>com.ebest.dsd</string>
					<key>kind</key>
					<string>software-package</string>
					<key>url</key>
					<string>https://www.baidu.com../-42E3796F-0FEA-4D65-BB8A-3B5B879BC8C5</string>
					<key>variantDescriptors</key>
					<array>
						<dict>
							<key>device</key>
							<string>iPhone12,1</string>
							<key>os-version</key>
							<string>13.0</string>
						</dict>
						<dict>
							<key>device</key>
							<string>iPhone11,8</string>
							<key>os-version</key>
							<string>13.0</string>
						</dict>
					</array>
					<key>variantIds</key>
					<array>
						<string>iPhone12,1</string>
					</array>
				</dict>
				<dict>
					<key>bundle-identifier</key>
					<string>com.ebest.dsd</string>
					<key>kind</key>
					<string>software-package</string>
					<key>url</key>
					<string>https://www.baidu.com../-37C86833-E929-4757-9542-F26B97E6A2BD</string>
					<key>variantDescriptors</key>
					<array/>
					<key>variantIds</key>
					<array>
						<string>iPad7,4</string>
						<string>iPad4,5</string>
						<string>iPad7,5</string>
						<string>iPad4,6</string>
						<string>iPad6,3</string>
						<string>iPad5,1</string>
						<string>iPad6,11</string>
						<string>iPad7,6</string>
						<string>iPad5,2</string>
						<string>iPad6,4</string>
						<string>iPad4,7</string>
						<string>iPad5,3</string>
						<string>iPad4,1</string>
						<string>iPad4,8</string>
						<string>iPad6,12</string>
						<string>iPad7,1</string>
						<string>iPad5,4</string>
						<string>iPad4,9</string>
						<string>iPad4,2</string>
						<string>iPad7,2</string>
						<string>iPad4,3</string>
						<string>iPad6,7</string>
						<string>iPad7,3</string>
						<string>iPad4,4</string>
						<string>iPad6,8</string>
					</array>
				</dict>
			</array>
		</dict>
	</array>
</dict>
</plist>
